# Gradle
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Eclipse
/.classpath
/.settings/
/.project
/bin/

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Misc
*.log
.DS_Store
.vscode/tasks.json
/io
/markista/null
javadoc-consumer.options
javadoc-example.options
javadoc-food.options
javadoc-mod.options
markista/.classpath
markista/.project
markista/.settings/org.eclipse.jdt.core.prefs
markista.code-workspace
